<input #autocompleteInput matNativeControl
    class="stock-search" type="search" placeholder="Search for a stock (eg: TSLA)..."
    [matAutocomplete]="auto"
    [value]="initialValue"
    (input)="onSearch($event)"
/>
<mat-autocomplete #auto="matAutocomplete">
    @for (stock of lookupResults$ | async; track stock) {
        <mat-option [value]="stock.ticker" (click)="clickStock(stock.ticker)">
            <div><strong>{{ stock.name }} ({{stock.ticker}})</strong></div>
            <div>Currency: <span style="text-transform:uppercase">{{stock.currency_name}}</span> | Exchange: {{ stock.primary_exchange }}</div>
        </mat-option>
    }
</mat-autocomplete>