<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'dialog'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>Welcome!</mat-toolbar>
    <mat-nav-list class="sidenav-list">
      <a mat-list-item href="/dashboard">
        <span class="d-inline-flex">
          <mat-icon aria-label="dashboard">dashboard</mat-icon>
          <span>Dashboard</span>
        </span>
      </a>
      <a mat-list-item [disabled]="true">
        <span class="d-inline-flex">
          <mat-icon aria-label="news">newspaper</mat-icon>
          <span>News</span>
        </span>
      </a>
      <div class="mat-title-medium nav-divider"><span>Alternative Stocks</span></div>
      <a mat-list-item [disabled]="true">
        <span class="d-inline-flex">
          <mat-icon aria-label="etf">category</mat-icon>
          <span>ETFs</span>
        </span>
      </a>
      <a mat-list-item [disabled]="true">
        <span class="d-inline-flex">
          <mat-icon aria-label="crypto">paid</mat-icon>
          <span>Crypto</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <fse-search-bar />
      <div class="toolbar-buttons">
        <button mat-icon-button disabled>
          <mat-icon aria-label="notifications">notifications</mat-icon>
        </button>
        <mat-divider [vertical]="true">as</mat-divider>
        <button mat-icon-button [matMenuTriggerFor]="accmenu">
          <mat-icon aria-label="account">account_circle</mat-icon>
        </button>
        <mat-menu #accmenu="matMenu">
          <a mat-menu-item href="/account/preferences">Preferences</a>
          <button mat-menu-item disabled>Account Settings</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
