<div class="grid-container">
  <h1 class="grid-title mat-headline-medium">{{ticker}}
    <span class="mat-headline-medium--description">| Stock Analysis</span>
  </h1>
  <div class="candlestick-container" id="candlestick-container">
    <highcharts-chart 
      [Highcharts]="Highcharts" 
      [constructorType]="'stockChart'" 
      [options]="candleChartOptions"
      [(update)]="candleChartUpdateFlag"
      [callbackFunction]="candleChartCallback"
      style="width: 100%; height: 100%; display: block;"
    >
    </highcharts-chart>
  </div>
  <mat-grid-list cols="2" rowHeight="3:2">
    @for (card of cards | async; track card) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content {{card.class}}">
            @if (card.trades) {
              <table mat-table [dataSource]="tradeData">
                <!-- Timestamp Column -->
                <ng-container matColumnDef="timestamp">
                  <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                  <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
                </ng-container>
              
                <!-- Exchange Column -->
                <ng-container matColumnDef="exchange">
                  <th mat-header-cell *matHeaderCellDef> Exchange </th>
                  <td mat-cell *matCellDef="let element"> {{element.exchange}} </td>
                </ng-container>
              
                <!-- Price Column -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>
              
                <!-- Size Column -->
                <ng-container matColumnDef="size">
                  <th mat-header-cell *matHeaderCellDef> Size </th>
                  <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedTradeColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedTradeColumns;"></tr>
              </table>
            }

            @if (card.news) {
              <div class="news-scroller">
                @for (news of newsData | async; track news) {
                  <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title class="mat-title-medium">{{news.title}}</mat-card-title>
                        <mat-card-subtitle class="mat-label-medium">
                          <img mat-card-avatar src={{news.publisher.logo_url}} alt="{{news.publisher.name}}"> | {{news.author}}</mat-card-subtitle>
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content class="mat-body-small">
                      {{news.description}}
                    </mat-card-content>
                    <mat-card-footer>
                      <mat-chip-set aria-label="keywords">
                        @for (kw of news.keywords; track kw) {
                          <mat-chip><span class="mat-label-small">{{kw}}</span></mat-chip>
                        }
                      </mat-chip-set>
                      <a href="{{news.article_url}}" target="_blank" rel="noopener noreferrer">
                        <mat-icon aria-label="open_in_new">open_in_new</mat-icon>
                      </a>
                    </mat-card-footer>
                  </mat-card>
                }
              </div>
            }
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>